body {
  background-color: #fcfcf2;
  margin: 0;
  font-family: 'Monument Extended', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

h3 {
  margin: unset;
}

@font-face {
  font-family: 'Monument Extended';
  src: local('Monument Extended'), url('./Fonts/MonumentExtended-Regular.otf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
